.All_box {
  width: 100%;
  text-align: center;
  font-family: "SBAggroB";
}

.login_box {
  width: 450px;
  padding: 124px 0 175px;
  margin: 0 auto;
}

.Logo {
  margin: 0 auto 50px;
  display: block;
  height: 290px;
}

.in_box {
  box-sizing: border-box;
  padding-left: 10px;
  margin: 10px 0 0;
  display: block;
  width: 450px;
  height: 50px;
  border: 1px solid #e0e0e0;
}
.in_box:focus {
  outline: none;
  border: 2px solid #000;
}
.in_box::placeholder {
  color: #e0e0e0;
  font-size: 20px;
  font-family: "SBAggroB";
  font-weight: 300;
}
.btn_bb {
  display: block;
  width: 450px;
  height: 60px;
  margin: 0 auto;
  font-size: 16px;
  font-family: "SBAggroB";
  font-weight: 300;
  cursor: pointer;
}
.login {
  background-color: #098060;
  color: #ffffff;
  margin: 0 auto 10px;
  border: none;
}
.login:hover {
  background-color: #0fa880;
  transition: 0.3s all ease;
}
.g_join {
  background-color: #ffffff;
  border: 1px solid #a4a4a4;
  margin-bottom: 10px;
}
.g_join:hover {
  background-color: #5a5a5a;
  border: none;
  transition: 0.4s all ease;
  content: url(../source/img/gg1.png);
}
.g_join img {
  width: 30px;
}
.g_join img:hover{
  
}
.join {
  background-color: #ffffff;
  border: 1px solid #a4a4a4;
  color: #000000;
}

.logintext {
  display: block;
  padding-bottom: 10px;
  font-weight: 300;
  font-size: 30px;
  text-align: left;
}
.check_b {
  font-family: "SBAggroB";
  font-weight: 300;
  font-size: 15px;
  padding-left: 26px;
  margin: 10px 0 30px;
  float: left;
  display: inline-block;
  background: url(../source/img/check.png) no-repeat;
  line-height: 18px;
  cursor: pointer;
}
